.shape-morph-scene {
	background: #282886;
}

.shape-morph-scene path:first-child {
	fill: #4f4fea;
}

.shape-morph-scene path:nth-child(2) {
	fill: #0c27cf;
}

.shape-morph-scene path:nth-child(3) {
	fill: #13269c;
}

.shape-morph-scene path:nth-child(4) {
	fill: #242468;
}

.shape-morph-scene path:nth-child(5) {
	fill: #2648e6;
}

.shape-morph-scene path:nth-child(6) {
	fill: #2c31b0;
}

.shape-morph-scene path:nth-child(7) {
	fill: #262689;
}