/* 
body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

/* Color schemes */
/* .shape-morph-1 {
	--color-text: #d8d1d1;
	--color-background: #fff;
	--color-link: #72af3a;
	--color-link-hover: #d8d1d1;
	--color-info: #72af3a;
}

.shape-morph-2 {
	--color-text: #333;
    --color-background: #bee897;
    --color-link: #72af3a;
    --color-link-hover: #485a36;
    --color-info: #fff;
} */

.fluid-shapeMorph {
	--color-text: #fff;
	--color-background: #193ccf;
	--color-link: #fff;
	--color-link-hover: #000;
	--color-info: #fff473;
}

.shape-morph-4 {
	--color-text: #81838c;
    --color-background: #272927;
    --color-link: #96e23e;
    --color-link-hover: #fff;
    --color-info: #ea7836;
}

.shape-morph-5 {
    --color-text: #fff;
    --color-background: #2b54ee;
    --color-link: #fff;
    --color-link-hover: #f7fb40;
    --color-info: #f7fb40;
}

/* Fade effect */
/* .js body {
	opacity: 0;
	transition: opacity 0.3s;
		
}

.js body.render {
	opacity: 1;
} */

/* a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
} */

/* a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
} */

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* .message {
	background: var(--color-text);
	color: var(--color-background);
	text-align: center;
	padding: 1em;
	display: none;
	position: relative;
	z-index: 100;
} */

/* Icons */
/* .icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--keyboard {
	display: none;
} */

main {
	position: relative;
	width: 100%;
}

/* .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header ...'
	'... ...'
	'github demos';
} */

.content--fixed a {
	pointer-events: auto;
}

.shape-morphs {
	position: relative;
	display: block;
	align-self: end;
	text-align: center;
	grid-area: demos;
}

.shape-morph {
	margin: 0 0.15em;
}

.shape-morph:hover,
.shape-morph:focus {
	opacity: 0.5;
}

.shape-morph span {
	white-space: nowrap;
	text-transform: lowercase;
	pointer-events: none;
}

.shape-morph span::before {
	content: '#';
}

a.shape-morph--current {
	pointer-events: none;
}

.shape-morph-scene {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	z-index: 1;
}

@media screen and (min-width: 55em) {
	.icon--keyboard {
		position: absolute;
		right: 0.55em;
		bottom: -30%;
		display: block;
		width: 54px;
		height: 46px;
		fill: var(--color-link);
	}
	.shape-morphs {
		display: flex;
		padding-right: 80px;
		justify-self: end;
	}
	.shape-morph {
		display: block;
		width: 17px;
		height: 17px;
		margin: 0 4px;
		border-radius: 50%;
		background: var(--color-link);
	}
	a.shape-morph--current {
		background: var(--color-link-hover);
	}
	.shape-morph span {
		position: absolute;
		line-height: 1;
		right: 100%;
		display: none;
		margin: 0 1em 0 0;
	}
	.shape-morph--current span {
		display: block;
	}
}

@media screen and (max-width: 55em) {
	html,
	body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.shape-morph-content {
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
		flex-direction: column;
	}
	.shape-morph-content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
}
